scripts/*
testing/*
targets/*
*.out
**/output/*
scaffolds/*
**/target_pdb/*
!scaffolds/*tar.gz
pipelines/colabfold_af2/output/*
pipelines/msa_mpnn_af2/output/*
pipelines/msa_mpnn_af2/helper_scripts/__pycache__
